DATABASE_URL=postgresql://postgres.bitolasmptbqozvpavrs:[password]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
SECRET_KEY=django-insecure-(m&j4_ftzkwgd!gvpv5$091m8+#@g4e(xlia&+jq-4+&*0c02%
DEBUG=True

